{% extends 'base.html.twig' %}
{% block title %}Widgets{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Widgets list</h1>



        </section>


        <!-- Main content -->
        <section class="content">
            <h3> from {{ start|date("Y-m-d") }} to {{ end|date("Y-m-d") }} </h3>
            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-info"></i> Task finished</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}





                    <table class="table" id="widgets_table">
                        <thead>
                        <tr>
                            <th>BoostID</th>
                            <th>WidgetId</th>
                            <th>impressions</th>
                            <th>viewable_impressions</th>
                            <th>clicks</th>
                            <th>tr_clicks</th>
                            <th>clicks - tr_clicks</th>
                            <th>ctr</th>
                            <th>avg_cpc</th>
                            <th>avg_cpv</th>
                            <th>spend</th>
                            <th>conversions</th>
                            <th>profit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for boostid, widgetsList in widgets %}
                            {% for widget in widgetsList %}
                            <tr>
                                <td>
                                    {{ boostid }}
                                </td>
                                <td>
                                    {{ widget.id }}
                                </td>
                                <td>
                                    {{ widget.impressions }}
                                </td>
                                <td>
                                    {{ widget.viewable_impressions }}
                                </td>
                                <td>
                                    {{ widget.clicks }}
                                </td>
                                <td>
                                    {% if widget.tr_clicks is defined %}
                                        {{ widget.tr_clicks }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                                <td>
                                    {% if widget.tr_clicks is defined %}
                                        {{  widget.clicks - widget.tr_clicks }}
                                    {% else %}
                                       9999
                                    {% endif %}
                                </td>

                                <td>
                                    {{ widget.ctr }}
                                </td>
                                <td>
                                    {{ widget.avg_cpc |number_format(3, '.', ',') }}
                                </td>
                                <td>
                                    {{ widget.avg_cpv |number_format(3, '.', ',') }}
                                </td>
                                <td>
                                    {{ widget.spend |number_format(3, '.', ',')}}
                                </td>
                                <td>
                                    {{ widget.conversions }}
                                </td>
                                <td>
                                    {{ widget.profit |number_format(3, '.', ',')}}
                                </td>

                            </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>




                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>



{% endblock %}
