{% extends 'base.html.twig' %}
{% block title %}Widgets{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Widgets list</h1>



        </section>


        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-info"></i> Task finished</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}





                    <table class="table">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Number', 'w.number') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Status', 'w.status') }}</th>
                            <th>Boosts</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for widget in pagination %}
                            <tr>
                                <td>
                                    <a href="{{ path('widget_show', { 'number': widget.number }) }}">{{ widget.number }}</a>
                                </td>
                                <td>
                                    {% if widget.status == 0 %}
                                        <span class="label label-success">Target</span>
                                    {% elseif widget.status == 1 %}
                                        <span class="label label-danger">Blacklist</span>
                                    {% endif %}
                                </td>
                                <td>{{ widget.boosts.count }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('widget_show', { 'number': widget.number }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('widget_edit', { 'number': widget.number }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {# total items count #}
                    <div class="count">
                        Total results : <label class="">{{ pagination.getTotalItemCount }}</label>
                    </div>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                    <ul>
                        <li>
                            <a href="{{ path('widget_new') }}">Create a new widget</a>
                        </li>
                    </ul>


                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>



{% endblock %}
