{% extends 'base.html.twig' %}
{% block title %}Widgets reports Revcontent: {% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Widgets reports Revcontent:
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-info">
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-primary" value="Search" />
                    {{ form_end(form) }}
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>


{% endblock %}
