{% extends 'base.html.twig' %}
{% block title %}Widgets reports Revcontent: {% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Widgets reports Revcontent:
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-info">
                <div class="box-body">
                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive">
                        <thead>

                        <tr>
                            {% for header in headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                        </thead>



                        <tbody>

                        {% for row in rows %}
                            <tr>
                                {% for field in row %}
                                    <td>{{ field }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>


{% endblock %}




