{% extends 'base.html.twig' %}

{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Campaigns list</h1>


        </section>


        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-info"></i> Task finished</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <h1>Widget</h1>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Number</th>
                            <td>{{ widget.number }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ widget.status }}</td>
                        </tr>

                        <tr>
                            <th>
                                Boosts
                            </th>
                            <td>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>name</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                    {% for boost in widget.boosts %}
                                        <tr>
                                            <td>
                                                {{ boost.boostId }}
                                            </td>
                                            <td>
                                                {{ boost.name }}
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </td>

                        </tr>


                        </tbody>
                    </table>

                    <ul>
                        <li>
                            <a href="{{ path('widget_index') }}">Back to the list</a>
                        </li>
                        <li>
                            <a href="{{ path('widget_edit', { 'number': widget.number }) }}">Edit</a>
                        </li>
                        <li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>
                    </ul>


                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


{% endblock %}
