{% extends 'base.html.twig' %}
{% block title %}Widgets{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Widgets list</h1>



        </section>


        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-info"></i> Task finished</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}





                    <table class="table" id="widgets_table_csv">
                        <thead>
                        <tr>
                            <th>Timezone</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>CPC</th>
                            <th>Total</th>
                            <th>Traffic Source</th>
                            <th>Custom Variable</th>
                            <th>Custom Variable Value</th>
                            <th>Campaign ID</th>
                            <th>Campaign Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for widget in widgets %}
                            <tr>
                                <td>
                                    {{ widget[0] }}
                                </td>
                                <td>
                                    {{ widget[1] }}
                                </td>
                                <td>
                                    {{ widget[2] }}
                                </td>
                                <td>
                                    {{ widget[3] }}
                                </td>
                                <td>
                                    {{ widget[4] }}
                                </td>
                                <td>
                                    {{ widget[5] }}
                                </td>
                                <td>
                                    {{ widget[6] }}
                                </td>
                                <td>
                                    {{ widget[7] }}
                                </td>
                                <td>
                                    {{ widget[8] }}
                                </td>
                                <td>
                                    {{ widget[9] }}
                                </td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>




                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>



{% endblock %}
