{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Download CSV file for Thrive Cost update (RevContent)
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-danger">
                <div class="box-body">
                    <form method="get" action="{{ path('widget_thrive_csv') }}">

                        <div class="form-group">
                            <label for="startDate">Start date</label>
                            <input type="date" class="form-control" name="start" id="startDate" placeholder="Start Date" required>
                        </div>

                        <div class="form-group">
                            <label for="endDate">Start date</label>
                            <input type="date" class="form-control" name="end" id="endDate" placeholder="End Date" required>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>

                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>




{% endblock %}
