{% extends 'base.html.twig' %}
{% block title %}Remove Widgets From RevContent boost{% endblock %}

{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Remove Widgets From RevContent boost</h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-info"></i></h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                        <form action="{{ path('widgetptimizer_process') }}" method="post">
                            <div class="form-group">
                                <label id="boost">Select boost</label>
                                <select id="boost" name="boost" class="form-control" required>
                                    <option value="253455" selected>Archived Boost id 253455</option>
                                    {% for boost in boosts %}
                                        <option value="{{ boost.id }}"  >{{ boost.id }} -{{ boost.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label id="widgetsIds">Enter data</label>
                                <textarea name="widgets" id="widgetsIds" class="form-control" rows="3" required></textarea>
                            </div>

                            <input type="submit" class="btn btn-primary" value="Remove">

                        </form>

                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
{% endblock %}
