{% extends 'base.html.twig' %}
{% block title %}{{ network }}-{{ start|date("Y-m-d") }}-{{ end|date("Y-m-d") }}{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>CSV cost update for {{ network }} - {{ start|date("Y-m-d") }} to {{ end|date("Y-m-d") }}</h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-info"></i> Task finished</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <table class="table" id="widgets_table_csv">
                        <thead>
                        <tr>
                            <th>Timezone</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>CPC</th>
                            <th>Total</th>
                            <th>Traffic Source</th>
                            <th>Custom Variable</th>
                            <th>Custom Variable Value</th>
                            <th>Campaign ID</th>
                            <th>Campaign Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for segment in segments %}
                            <tr>
                                <td>
                                    {{ segment[0] }}
                                </td>
                                <td>
                                    {{ segment[1] }}
                                </td>
                                <td>
                                    {{ segment[2] }}
                                </td>
                                <td>
                                    {{ segment[3]|number_format(3, '.', ',') }}
                                </td>
                                <td>
                                    {{ segment[4]|number_format(3, '.', ',') }}
                                </td>
                                <td>
                                    {{ segment[5] }}
                                </td>
                                <td>
                                    {{ segment[6] }}
                                </td>
                                <td>
                                    {{ segment[7] }}
                                </td>
                                <td>
                                    {{ segment[8] }}
                                </td>
                                <td>
                                    {{ segment[9] }}
                                </td>

                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>




                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>



{% endblock %}
