{% extends 'base.html.twig' %}
{% block title %}{{ network }}-{{ start|date("Y-m-d") }}-{{ end|date("Y-m-d") }}{% endblock %}
{% block body %}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Comparing counted clicks in {{ network }} vs Thrive {{ start|date("Y-m-d") }} to {{ end|date("Y-m-d") }}</h1>
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-info"></i> Task finished</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <table class="table" id="widgets_table_csv">
                        <thead>
                        <tr>
                            <th>campaign_id</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>ad_id</th>
                            <th>spend</th>
                            <th>avg_cpc</th>
                            <th>clicks</th>
                            <th>thrive clicks</th>
                            <th>clicks - thrive clicks</th>
                            <th>impressions</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for stat in stats %}
                            <tr>
                                <td>
                                    {{ stat['campaign_id'] }}
                                </td>
                                <td>
                                    {{ stat['start_date'] }}
                                </td>
                                <td>
                                    {{ stat['end_date'] }}
                                </td>
                                <td>
                                    {{ stat['ad_id'] }}
                                </td>
                                <td>
                                    {{ stat['spend'] |number_format(3, '.', ',')}}
                                </td>
                                <td>
                                    {{ stat['avg_cpc'] |number_format(3, '.', ',') }}
                                </td>
                                <td>
                                    {{ stat['clicks'] }}
                                </td>
                                <td>
                                    {{ stat['thrive_clicks'] }}
                                </td>
                                <td>
                                    {{ stat['clicks'] - stat['thrive_clicks'] }}
                                </td>
                                <td>
                                    {{ stat['impressions'] }}
                                </td>


                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>




                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>



{% endblock %}
