{% extends 'base.html.twig' %}
{% block title %}Editing boost: {{ boost.name }}{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Boost Edit

            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">

                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" class="btn btn-primary" value="Update" />
                    {{ form_end(edit_form) }}

                    <ul style="list-style: none;padding-left: 0px">
                        <li style="padding-top: 5px">
                            <a class="btn btn-default" href="{{ path('boost_index') }}">Back to the list</a>
                        </li>
                        <!--<li>
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}
                        </li>-->
                    </ul>
                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>


{% endblock %}
