{% extends 'base.html.twig' %}
{% block title %}Boosts{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Boost List
            </h1>

        </section>


        <!-- Main content -->
        <section class="content">
            <a class="btn btn-warning" href="{{ path("boost_index") }}?showhidden=true">Display hidden boosts?</a>
            <a class="btn btn-danger" href="{{ path("boost_refresh") }}">Refresh boost data?</a>

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-info"></i> Task finished</h4>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'Name', 'b.name') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Boost Id', 'b.boostId') }}</th>
                            <th>Current Rules</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Thrive Id', 'b.thriveCampaignId') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Enabled', 'b.enabled') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Status', 'b.status') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Default Bid', 'b.defaultBid') }}</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for boost in pagination %}
                            <tr>
                                <td><a href="{{ path('boost_show', { 'id': boost.id }) }}">{{ boost.name }}</a></td>
                                <td>{{ boost.boostId }}</td>
                                <td>
                                    {% for rule in boost.rules %}
                                        <a href="{{ path('rule_show', { 'id': rule.id }) }}">{{ rule.name }}</a>,
                                    {% endfor %}
                                </td>
                                <td>{{ boost.thriveCampaignId }}</td>
                                <td>{{ boost.enabled }}</td>
                                <td>{{ boost.status }}</td>
                                <td>{{ boost.defaultBid |number_format(3, '.', ',')  }}</td>


                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="{{ path('boost_show', { 'id': boost.id }) }}">show</a>
                                        <a class="btn btn-default" href="{{ path('boost_edit', { 'id': boost.id }) }}">edit</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {# total items count #}
                    <div class="count">
                        Total results : <label class="">{{ pagination.getTotalItemCount }}</label>
                    </div>

                    {# display navigation #}
                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>



{% endblock %}
