{% extends 'base.html.twig' %}

{% block body %}
    <h1>Boost creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <input type="submit" class="btn btn-success" value="Add" />
    {{ form_end(form) }}


{% endblock %}
