{% extends 'base.html.twig' %}

{% block title %}Boost: {{ boost.name }}{% endblock %}


{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Boost

            </h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">
                    <table  class="table">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ boost.name }}</td>
                        </tr>
                        <tr>
                            <th>Boost id</th>
                            <td>{{ boost.boostId }}</td>
                        </tr>

                        <tr>
                            <th>Thrive Campaign ID</th>
                            <td>{{ boost.thriveCampaignId }}</td>
                        </tr>

                        <tr>
                            <th>Original Bid</th>
                            <td>{{ boost.defaultBid }}</td>
                        </tr>
                        <tr>
                            <th>Rules</th>
                            <td>
                                {% for rule in boost.rules %}
                                    <a href="{{ path('rule_show', { 'id': rule.id }) }}">{{ rule.name }}</a>,
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <th>
                                Widgets
                            </th>
                            <td>
                                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Display/Hide
                                </button>

                                <div class="collapse" id="collapseExample">

                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>status</th>
                                        </tr>
                                        </thead>
                                        <tbody>


                                        {% for widget in boost.widgets %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('widget_show', { 'number': widget.number }) }}">{{ widget.number }}</a>
                                                </td>
                                                <td>
                                                    {% if widget.status == 0 %}
                                                        <span class="label label-success">Target</span>

                                                    {% elseif widget.status == 1 %}
                                                        <span class="label label-danger">Blacklist</span>
                                                    {% endif %}

                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>

                                </div>

                            </td>

                        </tr>

                        <tr>
                            <th>Start Date</th>
                            <td>{% if boost.startDate %}{{ boost.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>End Date</th>
                            <td>{% if boost.endDate %}{{ boost.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Created at</th>
                            <td>{% if boost.createdAt %}{{ boost.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Updated at</th>
                            <td>{% if boost.updatedAt %}{{ boost.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="btn-group">
                    </div>

                    <ul style="padding-left: 0; list-style: none">

                        <li style="padding-bottom: 5px">
                            <a class="btn btn-primary" href="{{ path('boost_edit', { 'id': boost.id }) }}">Edit</a>
                        </li>
                        <li style="padding-bottom: 5px;padding-top: 5px">
                            <a class="btn btn-default" href="{{ path('boost_index', { 'id': boost.id }) }}">Back to the list</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>



{% endblock %}
