<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}{% endblock %}
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset("/scheduler/web/bootstrap/css/bootstrap.min.css") }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset("/scheduler/web/css/AdminLTE.min.css") }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset("/scheduler/web/css/skins/_all-skins.min.css") }}">

    <link href="{{ asset("/scheduler/web/plugins/iCheck/square/blue.css") }}" rel="stylesheet">
    <!--<link href="{{ asset("/scheduler/web/plugins/datatables/jquery.dataTables.min.css") }}" rel="stylesheet">-->
    <link href="{{ asset("/scheduler/web/plugins/datatables/dataTables.bootstrap.css") }}" rel="stylesheet">
    <link href="{{ asset("/scheduler/web/plugins/datatables/jquery.dataTables_themeroller.css") }}" rel="stylesheet">

    <link href="{{ asset("/scheduler/web/plugins/datatables/extensions/Buttons/buttons.dataTables.min.css") }}" rel="stylesheet">
    <link href="{{ asset("/scheduler/web/plugins/select2/select2.min.css") }}" rel="stylesheet">
    <link href="{{ asset("/scheduler/web/plugins/select2/select2-bootstrap.min.css") }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <style>
        .select2-selection__choice__remove, .select2-selection__choice {
            color: white;
            background: blue;
        }

    </style>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">{{ app.user.username }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">Sign
                                        out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->

                </ul>
            </div>
        </nav>
    </header>

    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">
                    <span>
                        {{ "now"|date("D j-M-Y H:i") }} - EST5EDT
                    </span>
                </li>

                <li><a href="{{ path('campaign_index') }}"><i class="fa fa-circle-o text-green"></i>
                        <span>Campaigns</span></a></li>
                <li><a href="{{ path('rule_index') }}"><i class="fa fa-circle-o text-red"></i> <span>Rules</span></a>
                </li>

                <li><a href="{{ path('widgetoptimizer_index') }}"><i class="fa fa-circle-o text-yellow"></i>
                        <span>Remove Widgets</span></a></li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Stats</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right">2</span>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="{{ path('thrive_cost_update_form') }}"><i class="fa fa-circle-o"></i>Thrive Cost Update</a></li>
                        <li><a href="{{ path('thrive_clicks_display_form') }}"><i class="fa fa-circle-o"></i>Compare Clicks</a></li>

                    </ul>
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    {% block body %}
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Blank page
                    <small>it all starts here</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Examples</a></li>
                    <li class="active">Blank page</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Title</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip"
                                    title="Remove">
                                <i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">

                    </div>

                    <!-- /.box-body -->
                    <div class="box-footer">
                        Footer
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->

            </section>
            <!-- /.content -->
        </div>
    {% endblock %}
    <!-- /.content-wrapper -->


    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

{% block javascripts %}{% endblock %}
<!-- jQuery 2.2.3 -->
<script src="{{ asset("/scheduler/web/plugins/jQuery/jquery-2.2.3.min.js") }}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset("/scheduler/web/bootstrap/js/bootstrap.min.js") }}"></script>
<!-- SlimScroll -->
<script src="{{ asset("/scheduler/web/plugins/slimScroll/jquery.slimscroll.min.js") }}"></script>
<!-- FastClick -->
<script src="{{ asset("/scheduler/web/plugins/fastclick/fastclick.js") }}"></script>

<script src="{{ asset("/scheduler/web/plugins/iCheck/icheck.js") }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset("/scheduler/web/js/app.min.js") }}"></script>

<script src="{{ asset("/scheduler/web/plugins/datatables/jquery.dataTables.min.js") }}"></script>
<script src="{{ asset("/scheduler/web/plugins/datatables/dataTables.bootstrap.min.js") }}"></script>
<script src="{{ asset("/scheduler/web/plugins/datatables/extensions/Buttons/dataTables.buttons.min.js") }}"></script>
<script src="{{ asset("/scheduler/web/plugins/datatables/extensions/Buttons/dataTables.buttons.min.js") }}"></script>
<script src="{{ asset("/scheduler/web/plugins/select2/select2.min.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>

<script src="{{ asset("/scheduler/web/js/myapp.js") }}"></script>
<script>

    $(document).ready(function () {
        $('#widgets_table_csv').DataTable(
            {
                dom: 'Bfrtip',
                buttons: [
                    'csv', 'copy', 'excel', 'pdf'
                ]
            }
        );
        $('#widgets_table,#campaigns_table').DataTable();
        $("#appbundle_rule_Campaigns").select2({theme: "bootstrap"});
    });

</script>


<!-- AdminLTE for demo purposes -->
<!--<script src="/js/demo.js"></script>-->
</body>
</html>
