{% extends 'base.html.twig' %}
{% block title %}Editing campaign: {{ campaign.name }}{% endblock %}

{% block body %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Campaign edit</h1>

        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="box box-info">

                <div class="box-body">

                    {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" value="Edit"/>
                    {{ form_end(edit_form) }}

                    <ul>
                        <li>
                            <a href="{{ path('campaign_index') }}">Back to the list</a>
                        </li>

                    </ul>

                </div>

            </div>
            <!-- /.box -->

        </section>
        <!-- /.content -->
    </div>

{% endblock %}
