{% extends 'base.html.twig' %}
{% block title %}Campaigns{% endblock %}

{% block body %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Campaigns list</h1>


    </section>


    <!-- Main content -->
    <section class="content">
        <a class="btn btn-warning" href="{{ path("campaign_index") }}?showhidden=true">Display hidden campaign?</a>

        <!-- Default box -->
        <div class="box box-info">

            <div class="box-body">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-info"></i> Task finished</h4>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}


    <table class="table table-hover" id="campaigns_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Network</th>
                <th>Id</th>
                <th>Thrive id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campaign in campaigns %}
            <tr>
                <td><a href="{{ path('campaign_show', { 'id': campaign.id }) }}">{{ campaign.name }}</a></td>
                <td>{{ campaign.source }}</td>
                <td>{{ campaign.id }}</td>
                <td>{{ campaign.thriveId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('campaign_show', { 'id': campaign.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('campaign_edit', { 'id': campaign.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>





            </div>

        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
{% endblock %}
