{% extends 'base.html.twig' %}
{% block title %}Campaign: {{ campaign.name }}{% endblock %}

{% block body %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Campaign</h1>


    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="box box-info">

            <div class="box-body">
                <table  class="table">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campaign.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ campaign.name }}</td>
            </tr>
            <tr>
                <th>Thriveid</th>
                <td>{{ campaign.thriveId }}</td>
            </tr>
        </tbody>
    </table>

                <div class="btn-group">
                </div>

                <ul style="padding-left: 0; list-style: none">

                    <li style="padding-bottom: 5px">
                        <a class="btn btn-default"  href="{{ path('campaign_index') }}">Back to the list</a>

                    </li>
                    <li style="padding-bottom: 5px;padding-top: 5px">
                        <a  class="btn btn-primary" href="{{ path('campaign_edit', { 'id': campaign.id }) }}">Edit</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>


{% endblock %}
