{% extends 'base.html.twig' %}
{% block title %}Rules{% endblock %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rules list
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-danger">
                <div class="box-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>

                            <th>Days</th>
                            <th>Attime</th>

                            <th>Action</th>
                            <th>Campaigns</th>
                            <th>Enabled?</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rule in rules %}
                            <tr>
                                <td><a href="{{ path('rule_show', { 'id': rule.id }) }}">{{ rule.name }}</a></td>

                                <td>
                                    {% for day in rule.atDays %}
                                        {{ day.name }}
                                    {% endfor %}
                                </td>
                                <td>{% if rule.atTime %}{{ rule.atTime|date('H:i:s') }}{% endif %}</td>


                                <td>{{ rule.action.name }}</td>
                                <td>
                                    {% for campaign in rule.campaigns %}
                                        <a href="{{ path('campaign_show', { 'id': campaign.id }) }}">{{ campaign.name }}</a>,
                                    {% endfor %}
                                </td>
                                <td>
                                    {% if rule.enabled == false %}
                                        <span class="label label-danger">No</span>
                                    {% else %}
                                        <span class="label label-success">Yes</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="{{ path('rule_show', { 'id': rule.id }) }}">show</a>
                                        <a class="btn btn-default" href="{{ path('rule_edit', { 'id': rule.id }) }}">edit</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <ul style="padding-left: 0px;list-style: none">
                        <li style="padding-top: 5px">
                            <a class="btn btn-default" href="{{ path('rule_new') }}">Create a new rule</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>




{% endblock %}
