{% extends 'base.html.twig' %}
{% block title %}Add new Rule{% endblock %}

{% block body %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rule Creation
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-danger">
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-success" value="Add" />
                    {{ form_end(form) }}

                    <ul style="list-style: none;padding-left: 0px">
                        <li style="padding-top: 5px">
                            <a class="btn btn-default " href="{{ path('rule_index') }}">Back to the list</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>




{% endblock %}
