{% extends 'base.html.twig' %}


{% block title %}Rule: {{ rule.name }}{% endblock %}

{% block body %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Rule
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box box-danger">
                <div class="box-body">
                    <table class="table">
                        <tbody>

                        <tr>
                            <th>Name</th>
                            <td>{{ rule.name }}</td>
                        </tr>
                        <tr>
                            <th>Action</th>
                            <td>{{ rule.action.name }}</td>
                        </tr>

                        <tr>
                            <th>Selected Campaigns</th>
                            <td>
                                {% for campaign in rule.campaigns %}
                                    <a href="{{ path('campaign_show', { 'id': campaign.id }) }}">{{ campaign.name }}</a>,
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <th>Days</th>
                            <td>
                                {% for day in rule.atDays %}
                                    {{ day.name }},
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>At time</th>
                            <td>{% if rule.atTime %}{{ rule.atTime|date('H:i:s') }}{% endif %}</td>
                        </tr>


                        <tr>
                            <th>Created at</th>
                            <td>{% if rule.createdAt %}{{ rule.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Updated at</th>
                            <td>{% if rule.updatedAt %}{{ rule.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        </tbody>
                    </table>



                    <ul style="padding-left: 0; list-style: none">

                        <li style="padding-bottom: 5px">
                            <a class="btn btn-primary" href="{{ path('rule_edit', { 'id': rule.id }) }}">Edit</a>
                        </li>
                        <li style="padding-bottom: 5px;padding-top: 5px">
                            <a class="btn btn-default" href="{{ path('rule_index') }}">Back to the list</a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>






{% endblock %}
