{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" required="required" >
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="_password" required="required">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"  name="_remember_me" value="on" ><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me
                        </label>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <!-- /.col -->
                <div class="col-xs-4">
                    <input name="_submit" type="submit" class="btn btn-primary btn-block btn-flat" value="Sign In">
                </div>
                <!-- /.col -->
            </div>
        </form>

    </div>

{% endblock fos_user_content %}


